  <ul>
      <li ng-repeat="message in messages">
        <!-- edit a message -->
        <h1 ng-model="message.text" ng-change="messages.$save(message)">{[{message.text}]}</h1>
        <!-- delete a message -->
        <button class="submitBtn" ng-click="messages.$remove(message)">Delete Song</button>
      </li>
  </ul>
    <!-- push a new message onto the array -->
    <form id="messager"ng-submit="addMessage()">
      <input type="text" ng-model="newMessageText" placeholder="add a song to your library"/>
      <button class="submitBtn green" type="submit">Add Song</button>
    </form>