<div id="miniMenu" ng-click="ToggleBar = !ToggleBar">
 <span class="glyphicon glyphicon-th-list"></span>
  <div id="sidebar" ng-show="ToggleBar">
    <button  ng-click="colorChange()" class="submitBtn" type="submit">White</button>

    <button  ng-click="colorChange2()" class="submitBtn" type="submit">Brown</button>

    <button  ng-click="colorChange1()" class="submitBtn" type="submit">Random</button>
  </div>
</div>

<!-- Talk reconigition -->
<div id="musicContainer" ng-model="authData">
      <p>{[{authData}]}</p>
      
</div>
<div id="album" ng-model="recongized"></div>
<div ng-model="recongized" id="conversation"></div>
<div ng-model="recongized" id="recongized"></div>

