<!-- Talk reconigition -->
<div id="musicContainer" ng-model="authData">
      <p id="username">Welcome, {[{authData.password.email || authData.facebook.displayName}]}</p>
</div>
<h1>
	Press the button below to play your song
</h1>

<div id="album" ng-model="recongized"></div>
<div ng-model="recongized" id="conversation"></div>
<div ng-model="recongized" id="recongized"></div>
