<!-- Talk reconigition -->
<div id="musicContainer">
      <h1>Hey:{[{fName}]}</h1>
      <h2>{[{said}]}</h2>
      <h3>{[{song}]}</h3>
</div>

<div ng-model="recongized" id="conversation">
</div>

<form>
<label></label>
<button  ng-click="colorChange()" class="submitBtn" type="submit">White</button>


<button  ng-click="colorChange1()" class="submitBtn" type="submit">Black</button>

<button  ng-click="colorChange2()" class="submitBtn" type="submit">Random</button>

</form>

<script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;

        void main() {
            gl_Position = vec4(aVertexPosition, 1.0);
        }
    </script>

    <script id="shader-fs" type="x-shader/x-fragment">
        precision mediump float;

        void main() {
            gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
        }
    </script>