<div id="miniMenu">
  <form>
    <button  ng-click="colorChange()" class="submitBtn" type="submit">White</button>

    <button  ng-click="colorChange2()" class="submitBtn" type="submit">Brown</button>

    <button  ng-click="colorChange1()" class="submitBtn" type="submit">Random</button>
  </form>
</div>



<!-- Talk reconigition -->
<div id="musicContainer">
      <h1>Hey:{[{fName}]}</h1>
      <h2>{[{said}]}</h2>
<!--       <h3>{[{song}]}</h3>
 --></div>

<div ng-model="recongized" id="conversation">
</div>

