<!-- Talk reconigition -->
<div id="musicContainer" ng-model="authData">
      <p>{[{authData.password.email || authData.facebook.displayName}]}</p>
</div>
<div>
<p>
	Click the play button then say 'Play' followed by your song title.
</p>
</div>
<button id="listen" ng-click="listen()">Play</button>
<div id="album" ng-model="recongized"></div>
<div ng-model="recongized" id="conversation"></div>
<div ng-model="recongized" id="recongized"></div>
