<div class="signin-block">
</div>

<div class="signin-container">
  <form role="form" class="signUp" ng-submit="login()">
      <label for="email">Email</label>
      <input ng-model="email" type="email" class="form-control" id="uName">
      <label for="pwd">Password</label>
      <input ng-model="password" type="password" class="form-control" id="pwd">
    <div class="checkbox">
      <label><input type="checkbox">Save Password</label>
    </div>
      <button type="submit" class="btn btn-default">Login</button>
    </div>
  </form>
</div>


  <div class="signin-container">
    <!-- Facebook login -->
    <form role="form" class="signUp" ng-submit="fLogin(authData)">
      <button type="submit" id="facebook" class="btn btn-default">Login with Facebook</button>
    </form>

    <div class="form-group signUp">
      <a href="#/signup">Sign up for free </a>
    </div>
  </div>
