$mainColor : rgba(100,200,200,.4);

$mainColor1 : rgba(100,200,200,.7);

$navbarColor : #000;

@media (max-width: 699px) {

}

@media (max-width: 1200px) and (orientation: portrait){
#skitt-listening-box {
     line-height: 0px;
}
}
/*media Querries */
@media (max-width: 460px) {
  .signin-container{
  }

  div#skitt-listening-box {
    font-size: 15px;
    line-height: 0px;
    height: 71px;
}
  span#skitt-listening-text__instructions {
    font-size: 15px;
    float: left;
    margin-top: 14px;
    font-weight: 400;
}
div#skitt-ui {
    display: inline-block;
    background-color: #ECF0F1;
    z-index: 200;
    border-radius: 25px;
    position: fixed;
    bottom: 150px;
    left: 20px;
    outline: none;
    border: none;
    box-shadow: rgba(0,0,0,0.2) 0px 4px 8px;
    cursor: default;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

  #skitt-ui {
      display: inline-block;
      background-color: #ECF0F1;
      z-index: 200;
      border-radius: 25px;
      position: fixed;
      bottom: 100px;
      left: 20px;
      outline: none;
      width: 90%;
      border: none;
      box-shadow: rgba(0,0,0,0.2) 0px 4px 8px;
      cursor: default;
      font-family: Lato,Helvetica,Arial,sans-serif;
      font-size: 16px;
  }
  #skitt-toggle-button {
      width: 125px;
      position: absolute;
      left: 120px;
      top: 85px;
      height: 125px;
      background-position: 17.5px 15px;
  }
  p.currentSong {
    margin-top: 30px;
    font-size: 1.2em;
    color: #a9a9a9;
    font-weight: 100;
}
.navbar-default .navbar-brand {
    color: white;
}

.hideshow{
  display: none;
}

button#listen {
    width: 267px;
    /* align-items: flex-start; */
    /* position: absolute; */
    margin-left: 45px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: #6495ed;
    font-size: 20px;
    height: 60px;
    margin-top: 79px;
}
canvas{
    background:white;
}

#containLib{
    text-align:center;
}
#messager{
    float:none;
    padding-left:0px;

    input{
        margin-top:20px;
    }
}
.form-group a{
    margin-left:0%;
}

#messageBox{
    margin-top:20px;
    text-align:center;
}

#musicShare{
    margin-left:35%;
    padding-top: 5%;
}
#conversation{
    text-align:center;
}
label{
    color:$navbarColor;
}

#miniMenu {
    height: 25px;
    background: #F08062;
    width: 25px;
    float: right;
    border-radius: 14px;
    padding-left: 2.5px;
    padding-top: 1px;
    color: #fff;
    margin-right: 7px;
    margin-top: 8px;
}

div#sidebar {
    margin-left: -45px;
    margin-top: 10px;
}

/* glpyh icons */
.glyphicon {
    position: absolute;
    top: 11px;
    color:#fff;
    right:20px;
    font-size:1.4em;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .th-list{
        position: absolute;
        top: 65px;
        right: 15px;
        z-index: 99999;
    }&:hover {
    color:gold;
  }
}

.btn-default {
    color: #fff;
    background-color: #fff;
    width: 100%;
    border-color: rgb(80,200,80);
    background: rgb(80,200,80);
    margin-bottom: 10px;
    font-weight:bolder;
    font-size:1em;

    &:hover{
    background: white;
}
}


#username {
    line-height: 1.45em;
    float: right;
    font-size: 1.5em;
    font-weight: 100;
    margin-right: 10px;
}

.submitBtn {
    margin-top: 5px;
    height: 42px;
    border: none;
    width: 74px;
    /* background: rgba(100,20,50,.4); */
    color: #fff;
}
.green{
    background:green;
}
h1,h2,h3,h4{
    text-align:center;
    display:block;
    color: darkgrey;
}
p {

}
/* start of the navbar styling ===================*/
.nav{

    li{
        position: relative;
        display: block;
        background: $navbarColor;
        width: 100%;
        margin-left: 134px;
        font-size:1.2em;
    }
}
.navbar{
    position:fixed;
    .navbar-default{
        color: snow;
        .navbar-toggle {
            border-color: rgba(0,0,0,.0);
        }
    }
    .navbar-header{
        background: $navbarColor;
    }
    .navbar-toggle{
        margin-top:6px;
        border: 0px;
        color: white;
    }
    .navbar-form {
        border-color: #e7e7e7;
        width: 80%;
        height: 100px;
        float: right;
        position: fixed;
    }
    .navbar-collapse {
        padding:0px;
    }
    a{
        color:#fff;
    }
}

#border{
    border-color: white;
    color:white;

    &:hover{
        color:black;
    }
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: white;
}
/* reseting boostrap form-controls */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-left: 2px solid $navbarColor;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#album{
    width: 100%;
    padding-top: 40px;
    height: 350px;
    font-weight: 200;
    font-variant: small-caps;
    img{
        width: 60%;
        height: 250px;
        margin-top: 20px;
    }
}
.recognized{
    text-align: center;
    color:gold;
    font-size:1.5em;
}
.signUp{
    width:90%;
    margin-left:14px;

    a {
        color: $navbarColor;
        display: block;
        width: 100%;
        margin-top: 12px;
        font-size: 1em;
        text-align: center;
    }
}

.form-control{
    width:100%;
}
input{
    width:100%;
}
#container{
  margin-top: 53px;
}
.desktop-sidebar-search {
    width: 40%;
    position: fixed;
    top: 10px;
    right: 80px;
}
#secondNav{
    display:none;
}

}
/*landscape horizonal viewport */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {


}
